<html>
  <head>
    <title>Simple FourSquare Search</title>
  </head>
  <body>
    <div>
      <a href="/auth/foursquare">
        <img src="/img/connect-black.png"/>
      </a>
    </div>
  </body>
</html>
